:root {
  --red:     #EB212E;
  --green:   #2FF924;
  --blue:    #2E67F8;
  --purple:  #800080;
  --white:   #fff;
  --gs:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--green),
             0   0   0.8rem   var(--green),
             0   0   2.8rem   var(--green);
  --rs:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--red),
             0   0   0.8rem   var(--red),
             0   0   2.8rem   var(--red);
  --bs:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--blue),
             0   0   0.8rem   var(--blue),
             0   0   2.8rem   var(--blue);
  --ws:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--white),
             0   0   0.8rem   var(--white),
             0   0   2.8rem   var(--white);
  --ps:      0   0   .2rem    var(--white),
             0   0   .2rem    var(--white),
             0   0   2rem     var(--purple),
             0   0   0.8rem   var(--purple),
             0   0   2.8rem   var(--purple);
}

body {
	background-color: #282828;
	color: var(--white);
	text-shadow: var(--gs);
}

div {
  color: var(--white);
  text-shadow: var(--gs);
}

.overlay {
  position:           fixed;
  display:            none;
  width:              100%;
  height:             100%;
  top:                0;
  left:               0;
  right:              0;
  bottom:             0;
  background-color:   rgba(0,0,0,0.5);
  z-index:            2;
  cursor:             pointer;
  transition-property: background-color;
  transition-duration: 3s;
}

.alpha {
  color: #fff;
  text-shadow: var(--gs)
}

button {
  background-color: rgba( 0,0,0,0 );
  border-radius: 10px;
  border: 0px;
  box-shadow: 5px 5px rgba( 0, 0, 0, 0.5 );
  color: var(--white);
  font-size: 28px;
  height: 75px;
  text-shadow: var(--gs)
}

button:hover {
  /*background-color: #BF616A;*/
  text-shadow: var(--rs);
}

input {
  color: var(--white);
  background-color: rgba(136, 192, 208, 1);
  border-radius: 10px;
  border: 0px;
  border-color: rgba( 0,0,0,0 );
  background-color: rgba( 0,0,0,0 );
  box-shadow: 5px 5px rgba( 0, 0, 0, 0.5 );
}

#lobby       { }
#inviteDiv   { }
#usernameDiv { display: block; }
#rejected    { }
#win         { }
#lixo        { }
#turn {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  font-size: 72px;
}

#ree {
  position: absolute;
  display: none;
  background-color: rgba( 0,0,0,0 );
  width:  100%;
  height: 100%;
  box-shadow: none;
}

#notturn {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  font-size: 72px;
}

#play
{
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}

#game {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#word {
  display: flex;
  justify-content: center;
  text-shadow: var(--gs);
}

#eText { text-shadow: var(--gs); }

#image {
  position: relative;
  top: 25%;
  left: 40%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}

#winimage {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  top: 25%;
  left: 40%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}

#winTitle {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  top: 15%;
  left: 25%;
  font-size: 72px;
  text-shadow: var(--bs);
}

#lossTitle {
  position: relative;
  top: 15%;
  left: 25%;
  font-size: 72px;
  text-shadow: var(--rs);
}

#goBack {
  position: relative;
  left: 50%;
  text-shadow: var(--bs);
}

#wingoBack {
  position: relative;
  left: 50%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  text-shadow: var(--bs);
}

#rematch {
  position: relative;
  left: 0%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  text-shadow: var(--ps);
}

#rText {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#welp {
  position: relative;
  top: 55%;
  left: 35%;
}

#update {
  font-size: 28px;
  height: 75px;
  text-shadow: var(--gs);
}

#text {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#uname {
  position: relative;
  font-size: 28px;
  top: 55%;
  left: 35%;
  height: 75px;
  text-shadow: var(--gs);
}

#send {
  position: relative;
  font-size: 28px;
  top: 55%;
  left: 35%;
  height: 75px;
}


#ok {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 28px;
  height: 75px;
}

#cancel {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  height: 75px;
}

#quit {
  position: relative;
  justify-content: center;
  top: 35%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#wordlist {
	position: relative;
	display: grid;
}

#uname {
	position: relative;
	display: grid;
}

#remove {
	position: relative;
	display: grid;
}

#yoda {
  position: relative;
  top: 25%;
  left: 40%;
  height: 55%;
  box-shadow: 15px 10px rgba( 0, 0, 0, 0.5 );
}
